<h3>Navigation classic</h3>
<nav>
  <ul>
    <li><a href="/homepage">Accueil</a></li>
    <li><a href="/about">Qui sommes nous ?</a></li>
    <li><a href="/get-in-touch">Contact</a></li>
  </ul>
</nav>


<h3>Navigation Angular</h3>
<nav>
  <ul>
    <li><a routerLink="/homepage">Accueil</a></li>
    <li><a routerLink="/about">Qui sommes nous ?</a></li>
    <li><a routerLink="/get-in-touch">Contact</a></li>
  </ul>
</nav>


<hr>

<router-outlet></router-outlet>

<hr>

<iframe width="560" height="315" src="https://www.youtube.com/embed/jfKfPfyJRdk?si=8mFgLb5-8zmAi6gl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>